body {
    background-color: $body_background_color;
    
}
.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    min-width: 360px;
    max-width: 1440px;
    max-height: 6183px;
    // min-height: 6000px;
    // background-color: $wrapper_background_color;
    position: relative;
}

._blocked {
    pointer-events: none;
}

.header {
    position: fixed;
    width: 100%;
    max-width: 1440px;
    min-width: 360px;
    height: 77px;
    background-color: $header_background_color;
    opacity: 0.88;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 4;

    
}

.header__title {
    font-family: $font-family_Mavel-Poster;
    color: $header_title_color;
    margin-left: 8%;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $font-family_Kurye;
    color: $font_global-white;
    width: 38%;
    font-size: 20px;
    margin-right: 8%;
    

    a {
        text-decoration: none;
        color: $font_global-white
    }
}

.header__burger {
    width: 25.85px;
    height: 18.47px;
    margin-right: 5.3%;
    position: absolute;
    cursor: pointer;
    right: 0;
    transform: translateY(-500%);
    

    &:active {
        transform: scale(1.3);
    }
        
    .header_burger_container {

        // #second, #third {
        //     transition: all 0.7s ease-in-out;
        // }

        

        li {
            border-top: 1.62px $font_global-white solid;
            height: calc(1.62px + 4px);
            
            
            

        }

    }


}

.rightShift {
    animation: rightShift;
    animation-duration: 0.45s;
}

@keyframes rightShift {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 90% {
        transform: translateX(10%);
    }
    20%, 80% {
        transform: translateX(20%);
    }
    40%, 60% {
        transform: translateX(50%);
    }
}

.leftShift {
    animation: leftShift;
    animation-duration: 0.45s;
}

@keyframes leftShift {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 90% {
        transform: translateX(-10%);
    }
    20%, 80% {
        transform: translateX(-20%);
    }
    40%, 60% {
        transform: translateX(-50%);
    }
}

._low {
    height: 55px;
}

.container {
    background-color: $font_global-white;
}

.op2022 {
    max-width: 1440px;
    max-height: 1024px;
    background-image: url('./images/main_picture.jpg');
    width: 100vw;
    height: 71.4vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    background-size: auto;
    background-position: bottom;
    overflow: hidden;
    
    
}



.op2022_title {
    margin: 0 auto;
    justify-self: end;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 3;

    .op2022__title__line1 {
        font-family: $font-family_PalaceScriptMT;
        font-size: 120px;
        color: $font_golden_font;
    }

    .op2022__title__line2 {
        font-family: $font-family_Mavel-Poster;
        color: $font_global-white;
        font-size: 80px;
    }

    .op2022__title__line3 {
        font-family: $font-family_Kurye;
        font-size: 64px;
        color: $font_global-white;
    }

    .op2022__title__button {
        font-family: $font-family_Kurye;
        font-size: 20px;
        color: $font_global-white;
        width: 153px;
        height: 57px;
        border: 1px $font_global-white solid;
        border-radius: 15px;
        margin: 0 auto;
        margin-top: 38px;
        @include box-font-padding-top(57px, 20px);
        margin-bottom: 86px;
        cursor: pointer;
        position: relative;

        div {
            position: absolute;
            top: 0;
            width: 153px;
            height: 57px;
            background-color: $font_global-white;
            border-radius: 15px;
            opacity: 0;
        }
    }

    .op2022__title__button:active {
        transform: scale(1.05);
    }

        

}

.op2022__decorAward {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .op2022__decorAward__decor {
        margin-bottom: 80px;
        margin-left: -10px;
    }

    .op2022__decorAward__award {
        margin-right: 114px;
        margin-bottom: 40px;
    }

}

.ourStory {
    @include ourStory-style-main-container(100px, 100px);

    .ourStory__text {
        @include ourStory-style-textdiv(22px, 22px, 580px, 600px);

        .ourStory__text__header {
            @include ourStory-style-header(100%);

            .ourStory__text__header_png {
                @include ourStory-style-vertDecor(22px, 22px, 113px, 93px);
            };

            .ourStory__text__header_lines {
                .ourStory__text__header_lines_line1 {
                    @include ourStory-style-header-line1(78px);
                };

                .ourStory__text__header_lines_line2 {
                    @include ourStory-style-header-line2(64px);
                };
            };
        };

        .ourStory__text__header__mainText {
            @include ourStory-style-maintext(16px, 25px, 20px, 20px, 100%);
            
            .ourStory_button {
                @include ourStory-button(140px, 57px, 20px, 15px, 15px);
            };
        
        };

    };

    .ourStory__pic {
        @include ourStory-style-image("images/ourstory.png", 540px, 540px, 60px, 0px);
    };

    
};

.ourStory_button:active, .menu_button:active, .catering_button:active, .chefs_button:active {
    transform: scale(1.1);
};

.sandwich {
    max-width: 1440px;
    // max-height: 45vh;
    background-image: url('images/sandwich.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:  228vh, 120vh;
    width: 100%;
    height: 50vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-end;


    .sandwich__title {
        font-family: $font-family_Kurye;
        font-size: 50px;
        color: $font_global-white;
        margin-bottom: 6.1%;
        margin-left: 7.8%;
    };

};

.menu {
    @include ourStory-style-main-container(100px, 100px);

    .menu__text {
        @include ourStory-style-textdiv(22px, 22px, 580px, 600px);

        .menu__text__header {
            @include ourStory-style-header(100%);

            .menu__text__header_png {
                @include ourStory-style-vertDecor(22px, 22px, 113px, 93px);
            };

            .menu__text__header_lines {
                .menu__text__header_lines_line1 {
                    @include ourStory-style-header-line1(78px);
                };

                .menu__text__header_lines_line2 {
                    @include ourStory-style-header-line2(64px);
                };
            };
        };

        .menu__text__header__mainText {
            @include ourStory-style-maintext(16px, 25px, 20px, 20px, 100%);
            
            .menu_button {
                @include ourStory-button(173px, 57px, 20px, 15px, 15px);
            };
        
        };

    };

    .menu__pic {
        @include ourStory-style-image("images/group1.png", 540px, 540px, 60px, 0px);
    };

};

.twins {
    max-width: 1181px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 654px;
    margin-top: -106px;
};

.twins__twin1 {
    height: 540px;
    width: 249px;
    background-image: url('images/twin1.png');
    background-position: center;
    background-size: cover;
    align-self: flex-start;
};

.twins__twin2 {
    height: 540px;
    width: 249px;
    background-image: url('images/twin2.png');
    background-position: center;
    background-size: cover;
    align-self: flex-end;
};

.twins__downDecor {
    height: 284px;
    width: 207px;
    background-image: url('images/downDecor.png');
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
};

.catering {
    @include ourStory-style-main-container(100px, 100px);

    .catering__text {
        order: 1;
        @include ourStory-style-textdiv(22px, 22px, 580px, 600px);

        .catering__text__header {
            @include ourStory-style-header(100%);

            .catering__text__header_png {
                @include ourStory-style-vertDecor(22px, 22px, 113px, 93px);
            };

            .catering__text__header_lines {
                .catering__text__header_lines_line1 {
                    @include ourStory-style-header-line1(78px);
                };

                .catering__text__header_lines_line2 {
                    @include ourStory-style-header-line2(64px);
                };
            };
        };

        .catering__text__header__mainText {
            @include ourStory-style-maintext(16px, 25px, 20px, 20px, 100%);
            
            .catering_button {
                @include ourStory-button(173px, 57px, 20px, 15px, 15px);
            };
        
        };

    };

    .catering__pic {
        @include ourStory-style-image("images/group2.png", 540px, 540px, 0px, 60px);
    };

};

.range {
    max-width: 1440px;
    max-height: 760px;
    width: 100%;
    height: 53vw;
    background-image: url('images/wiskey.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

};

.range__title {
    font-family: 'Kurye-Light';
    font-size: 50px;
    color: $font_global-white;
    margin-bottom: 6.1%;
    margin-right: 7.8%;
};

.chefs {
    @include ourStory-style-main-container(100px, 100px);

    .chefs__text {
        @include ourStory-style-textdiv(22px, 22px, 580px, 600px);

        .chefs__text__header {
            @include ourStory-style-header(100%);

            .chefs__text__header_png {
                @include ourStory-style-vertDecor(22px, 22px, 113px, 93px);
            };

            .chefs__text__header_lines {
                .chefs__text__header_lines_line1 {
                    @include ourStory-style-header-line1(78px);
                };

                .chefs__text__header_lines_line2 {
                    @include ourStory-style-header-line2(64px);
                };
            };
        };

        .chefs__text__header__mainText {
            @include ourStory-style-maintext(16px, 25px, 20px, 20px, 100%);
            
            .chefs_button {
                @include ourStory-button(173px, 57px, 20px, 15px, 15px);
            };
        
        };

    };

    .chefs__pic {
        @include ourStory-style-image("images/chefsword.png", 540px, 540px, 60px, 0px);
    };

};

.smallOp2022 {
    display: none;
    min-width: 255px;
    min-height: 228px;
    width: 71vw;
    height: 63.4vw;
    background-image: url('images/Group 10.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 17vw;
    margin-bottom: 17vw;
    margin-left: auto;
    margin-right: auto;
};

footer {
    width: 100%;
    max-width: 1440px;
    min-height: 227px;
    background-image: url('images/Rectangle 12.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 7.7%;
    padding-right: 7.7%;
    padding-top: 31px;
    padding-bottom: 31px;
    position: relative;    
    font-family: 'Kurye-Light';
    font-size: 20px;
    color: $font_global-white;
    line-height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

};

.footer__hours, .footer__address, .footer__contacts {
    
    min-height: 166px;
    
};

.footer__contacts__contacts__icons {
    margin-top: 12px;
}

.footer__contacts__fb {
    min-height: 27px;
    min-width: 27px;
    height: 27px;
    width: 27px;
    background-image: url('images/fbicon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-right: 20px;
    display: inline-block;

    a {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 27px;
        min-height: 27px;
        cursor: pointer;
    };

};

.footer__contacts__skype {
    min-height: 27px;
    min-width: 27px;
    height: 27px;
    width: 27px;
    background-image: url('images/skypeicon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-right: 20px;
    display: inline-block;

    a {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 27px;
        min-height: 27px;
        cursor: pointer;
    };

};

.footer__contacts__p {
    min-height: 27px;
    min-width: 27px;
    height: 27px;
    width: 27px;
    background-image: url('images/picon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-right: 20px;
    display: inline-block;

    a {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 27px;
        min-height: 27px;
        cursor: pointer;
    };

};

#footer__copyrightsOwner {
    color: rgb(255, 0, 140);
    font-weight: 900;
    text-decoration: underline;
}

.footer__decor {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
};





//at media benchmarks -------------------------------------------------------------------------
@media (min-width: 1440px) {
    
    
    .header__title {
        font-size: 30px;
    }
}

@media (max-width: 1440px) {
    .header__title {
        @include font-size-780-1440(22px, 22, 30);
    }

    .op2022 {
        width: 100vw;
        height: 71.4vw;
    }
}

.op2022__decorAward__decor {
    transform: translateY(10%);
}

@media (max-width: 1250px) {
    
    .ourStory {

        .ourStory__pic {
            @include ourStory-style-image("images/ourstory.png", 450px, 450px, 0px, 0px);
        } 

    };

    .menu {

        .menu__pic {
            @include ourStory-style-image("images/group1.png", 450px, 450px, 0px, 0px);
        } 

    };

    .catering {

        .catering__pic {
            @include ourStory-style-image("images/group2.png", 450px, 450px, 0px, 0px);
        } 

    };

    .chefs {

        .chefs__pic {
            @include ourStory-style-image("images/chefsword.png", 450px, 450px, 0px, 0px);
        } 

    };
    
    .op2022 {
        background-position: bottom;
    }

    .op2022__decorAward__award {
        transform: translateX(15%);
    }
}

@media (max-width: 1100px) {
    
    footer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        font-size: 16px;
        min-height: 583px;
        line-height: 33px;

        
        

        
    };

    .footer__hours, .footer__address, .footer__contacts {
    
        max-height: 121px;
        margin-top: 30px;
        line-height: 32px;
        min-height: 0px;
        
        
    };

    .footer__contacts {
        margin-bottom: 30px;
    };

    .footer__decor {
        display: inline-block;
        margin-right: 5%;
        bottom: 64px;
        
    }

    
    
    .catering__pic {
        order: 2;
    }
    
    .twins {
        margin-top: 0;
    }
    
    .op2022__decorAward__decor {
        transform: translateX(-30%) translateY(10%);
    }

    .op2022__decorAward__award {
        transform: translateX(30%);
    }

}

@media (max-width: 950px) {
    
    .range {
        background-size: 150vw;
        
    }
    
    .header__menu {
        min-width: 50%;
    }

    .op2022__decorAward__decor {
        transform: translateX(-35%) translateY(15%);
    }

    .op2022__decorAward__award {
        display: none;
    }
    
}

@media (max-width: 850px) {
    .op2022__decorAward__decor {
        transform: translateX(-50%) translateY(15%);
    }

}


@media (max-width: 780px) {
   
    
    
    .twins {
        display: none;
    }
    
    .sandwich {

        background-position: 60%;
        height: 35vh;


        .sandwich__title {
            font-size: 35px;
        };
    }
    
    .ourStory {

        .ourStory__text {
            @include ourStory-style-textdiv(0px, 0px, 73vw, 600px);

            
            
    
                .ourStory__text__header {
                    @include ourStory-style-header(73vw);
        
                    .ourStory__text__header_png {
                        @include ourStory-style-vertDecor(10px, 10px, 81px, 84px);
                    };
        
                    .ourStory__text__header_lines {
                        .ourStory__text__header_lines_line1 {
                            @include ourStory-style-header-line1(59px);
                        };
        
                        .ourStory__text__header_lines_line2 {
                            @include ourStory-style-header-line2(48px);
                        };
                    };
                };

                .ourStory__text__header__mainText {
                    max-width: 100%;
                };
            

        };

    };
    
//---------------------------------
.menu {

    .menu__text {
            @include ourStory-style-textdiv(0px, 0px, 73vw, 600px);

        
        

            .menu__text__header {
                @include ourStory-style-header(73vw);
    
                .menu__text__header_png {
                    @include ourStory-style-vertDecor(10px, 10px, 81px, 84px);
                };
    
                .menu__text__header_lines {
                    .menu__text__header_lines_line1 {
                        @include ourStory-style-header-line1(59px);
                    };
    
                    .menu__text__header_lines_line2 {
                        @include ourStory-style-header-line2(48px);
                    };
                };
            };

            .menu__text__header__mainText {
                max-width: 100%;
            };
        

    };

};

//-------------------------------
.catering {

    .catering__text {
            @include ourStory-style-textdiv(0px, 0px, 73vw, 600px);

        
        

            .catering__text__header {
                @include ourStory-style-header(73vw);
    
                .catering__text__header_png {
                    @include ourStory-style-vertDecor(10px, 10px, 81px, 84px);
                };
    
                .catering__text__header_lines {
                    .catering__text__header_lines_line1 {
                        @include ourStory-style-header-line1(59px);
                    };
    
                    .catering__text__header_lines_line2 {
                        @include ourStory-style-header-line2(48px);
                    };
                };
            };

            .catering__text__header__mainText {
                max-width: 100%;
            };
        

    };

};
//-------------------------------
.chefs {

    .chefs__text {
            @include ourStory-style-textdiv(0px, 0px, 73vw, 600px);

        
        

            .chefs__text__header {
                @include ourStory-style-header(73vw);
    
                .chefs__text__header_png {
                    @include ourStory-style-vertDecor(10px, 10px, 81px, 84px);
                };
    
                .chefs__text__header_lines {
                    .chefs__text__header_lines_line1 {
                        @include ourStory-style-header-line1(59px);
                    };
    
                    .chefs__text__header_lines_line2 {
                        @include ourStory-style-header-line2(48px);
                    };
                };
            };

            .chefs__text__header__mainText {
                max-width: 100%;
            };
        

    };

};

//-------------------------------
    .op2022__decorAward__decor {
        display: none;
    }
    
    .header__burger {
        transform: translateY(0);
    }
    
    .header__title {
        @include font-size-360-780(22px, 22, 30);
    }

    .header__menu {
        min-width: 60%;
        height: $menu_height1;
        background-color: $header_background_color;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 0;
        transform: translateY(-100%);
        flex-wrap: wrap;
        
        opacity: 1.0;
        
        
        
        
        li {
            width: 100%;
            //height: calc($menu_height1 / 6);
        
            font-size: $menu_font_size;
            text-align: center;
            //padding-top: calc(($menu_height1 / 8) - ($menu_font_size / 2));
            
        }

        
        
    }

    #menuItem1 {
        padding-top: 50px;
    }

    

    .op2022 {
        height: 178vw;
        background-size: 251vw, 179vw;
        background-position: 65%;
    }

    
}

@media (max-width: 600px) {

    footer {
        padding-left: 5%;
    }
    
    .smallOp2022 {
        display: block;
    }
    
    .sandwich {
        background-position: 70%;
        
    }

    .ourStory {

        @include ourStory-style-main-container(64px, 64px);

        .ourStory__text {

            .ourStory__text__header {
                .ourStory__text__header_lines {
                    .ourStory__text__header_lines_line1 {
                        @include ourStory-style-header-line1(50px);
                    };
                };
            };
      
            .ourStory__text__header__mainText {
                @include ourStory-style-maintext(16px, 25px, 20px, 20px, 73vw);
            };

            .ourStory_button {
                @include ourStory-button(140px, 57px, 20px, 15px, 13px);
            }
      
        };
    
        .ourStory__pic {
            @include ourStory-style-image("./images/ourstory.png", 360px, 360px, auto, auto);
        }
    }
    
// ---------------------------------------------------
.menu {

    @include ourStory-style-main-container(64px, 64px);

    .menu__text {

        .menu__text__header {
            .menu__text__header_lines {
                .menu__text__header_lines_line1 {
                    @include ourStory-style-header-line1(50px);
                };
            };
        };
  
        .menu__text__header__mainText {
            @include ourStory-style-maintext(16px, 25px, 20px, 20px, 73vw);
        };

        .menu_button {
            @include ourStory-button(140px, 57px, 20px, 15px, 13px);
        }
  
    };

    .menu__pic {
        @include ourStory-style-image("./images/group1.png", 360px, 360px, auto, auto);
    }
}
//---------------------------------------------------
.catering {

    @include ourStory-style-main-container(64px, 64px);

    .catering__text {

        .catering__text__header {
            .catering__text__header_lines {
                .catering__text__header_lines_line1 {
                    @include ourStory-style-header-line1(50px);
                };
            };
        };
  
        .catering__text__header__mainText {
            @include ourStory-style-maintext(16px, 25px, 20px, 20px, 73vw);
        };

        .catering_button {
            @include ourStory-button(140px, 57px, 20px, 15px, 13px);
        }
  
    };

    .catering__pic {
        @include ourStory-style-image("./images/group2.png", 360px, 360px, auto, auto);
    }
}
//------------------------------------------------
.chefs {

    @include ourStory-style-main-container(64px, 64px);

    .chefs__text {

        .chefs__text__header {
            .chefs__text__header_lines {
                .chefs__text__header_lines_line1 {
                    @include ourStory-style-header-line1(50px);
                };
            };
        };
  
        .chefs__text__header__mainText {
            @include ourStory-style-maintext(16px, 25px, 20px, 20px, 73vw);
        };

        .chefs_button {
            @include ourStory-button(140px, 57px, 20px, 15px, 13px);
        }
  
    };

    .chefs__pic {
        @include ourStory-style-image("./images/chefsword.png", 360px, 360px, auto, auto);
    }
}

//------------------------------------------------

    .header__menu {
        min-width: 100%;
    }

    .op2022_title {
        .op2022__title__line1 {
            font-size: 110px;
        }

        .op2022__title__line2 {
            font-size: 73px;
        }

        .op2022__title__line3 {
            font-size: 58px;
        }

        .op2022__title__button {
            font-size: 18px;
            width: 124px;
            height: 46px;
            @include box-font-padding-top(46px, 16px);
            margin-bottom: 80px;
            margin-top: 9px;

            div {
            width: 124px;
            height: 46px;
            }

        }
    }

    
}

@media (max-width: 450px) {
   
    .range {
        display: none;
    }
    
    .sandwich {
        height: 50vh;
        background-size: 190vh, 100vh;
    };
    
    .ourStory {
        
    
        .ourStory__text {
            
    
            .ourStory__text__header {
                @include ourStory-style-header(73vw);
    
                .ourStory__text__header_png {
                    @include ourStory-style-vertDecor(10px, 10px, 56px, 70px);
                };
    
                .ourStory__text__header_lines {
                    .ourStory__text__header_lines_line1 {
                        @include ourStory-style-header-line1(40px);
                    };
    
                    .ourStory__text__header_lines_line2 {
                        @include ourStory-style-header-line2(32px);
                    };
                };
            };
    
            .ourStory__text__header__mainText {
                
                
                .ourStory_button {
                    @include ourStory-button(101px, 37px, 16px, 8px, 6px);
                };
            
            };
    
        };
        
    };
    
    //---------------------------------------
    .menu {
        
    
        .menu__text {
            
    
            .menu__text__header {
                @include ourStory-style-header(73vw);
    
                .menu__text__header_png {
                    @include ourStory-style-vertDecor(10px, 10px, 56px, 70px);
                };
    
                .menu__text__header_lines {
                    .menu__text__header_lines_line1 {
                        @include ourStory-style-header-line1(40px);
                    };
    
                    .menu__text__header_lines_line2 {
                        @include ourStory-style-header-line2(32px);
                    };
                };
            };
    
            .menu__text__header__mainText {
                
                
                .menu_button {
                    @include ourStory-button(124px, 37px, 16px, 8px, 6px);
                };
            
            };
    
        };
        
    };
    //---------------------------------------
    .catering {
        
    
        .catering__text {
            
    
            .catering__text__header {
                @include ourStory-style-header(73vw);
    
                .catering__text__header_png {
                    @include ourStory-style-vertDecor(10px, 10px, 56px, 70px);
                };
    
                .catering__text__header_lines {
                    .catering__text__header_lines_line1 {
                        @include ourStory-style-header-line1(40px);
                    };
    
                    .catering__text__header_lines_line2 {
                        @include ourStory-style-header-line2(32px);
                    };
                };
            };
    
            .catering__text__header__mainText {
                
                
                .catering_button {
                    @include ourStory-button(124px, 37px, 16px, 8px, 6px);
                };
            
            };
    
        };
        
    };
    //---------------------------------------
    .chefs {
        
    
        .chefs__text {
            
    
            .chefs__text__header {
                @include ourStory-style-header(73vw);
    
                .chefs__text__header_png {
                    @include ourStory-style-vertDecor(10px, 10px, 56px, 70px);
                };
    
                .chefs__text__header_lines {
                    .chefs__text__header_lines_line1 {
                        @include ourStory-style-header-line1(40px);
                    };
    
                    .chefs__text__header_lines_line2 {
                        @include ourStory-style-header-line2(32px);
                    };
                };
            };
    
            .chefs__text__header__mainText {
                
                
                .chefs_button {
                    @include ourStory-button(124px, 37px, 16px, 8px, 6px);
                };
            
            };
    
        };
        
    };
    //---------------------------------------
    .header {
        max-height: 55px;
    };

    .header__menu {

        height: $menu_height2;

        li {
            //height: calc($menu_height2 / 6);
            // padding-top: calc(($menu_height2 / 8) - ($menu_font_size / 2));
        };
    };

    .op2022_title {
        .op2022__title__line1 {
            font-size: 72px;
        };

        .op2022__title__line2 {
            font-size: 48px;
        };

        .op2022__title__line3 {
            font-size: 38px;
        };

        .op2022__title__button {
            font-size: 16px;
            width: 124px;
            height: 46px;
            @include box-font-padding-top(46px, 16px);
            margin-bottom: 80px;
            margin-top: 9px;
            border-radius: 12.58px;

            div {
                width: 124px;
                height: 46px;
            };

        };
    };
    

};

@media (max-height: 640px) {
    .footer {
        background-size: 378vh, 200vh;
    }
}

