body {
    background-color: $body_background_color;
    
}
.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    min-width: 360px;
    max-width: 1440px;
    max-height: 6183px;
    min-height: 6000px;
    // background-color: $wrapper_background_color;
    position: relative;
}

._blocked {
    pointer-events:none
}

.header {
    position: fixed;
    width: 100%;
    max-width: 1440px;
    min-width: 360px;
    height: 77px;
    background-color: $header_background_color;
    opacity: 0.88;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 4;

    
}

.header__title {
    font-family: $font-family_Mavel-Poster;
    color: $header_title_color;
    margin-left: 8%;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $font-family_Kurye;
    color: $font_global-white;
    width: 38%;
    font-size: 20px;
    margin-right: 8%;
    

    a {
        text-decoration: none;
        color: $font_global-white
    }
}

.header__burger {
    width: 25.85px;
    height: 18.47px;
    margin-right: 5.3%;
    position: absolute;
    cursor: pointer;
    right: 0;
    transform: translateY(-500%);
    

    &:active {
        transform: scale(1.3);
    }
        
    .header_burger_container {

        #second, #third {
            transition: all 0.7s ease-in-out;
        }

        

        li {
            border-top: 1.62px $font_global-white solid;
            height: calc(1.62px + 4px);
            
            
            

        }

    }


}

.rightShift {
    animation: rightShift;
    animation-duration: 0.45s;
}

@keyframes rightShift {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 90% {
        transform: translateX(10%);
    }
    20%, 80% {
        transform: translateX(20%);
    }
    40%, 60% {
        transform: translateX(50%);
    }
}

.leftShift {
    animation: leftShift;
    animation-duration: 0.45s;
}

@keyframes leftShift {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 90% {
        transform: translateX(-10%);
    }
    20%, 80% {
        transform: translateX(-20%);
    }
    40%, 60% {
        transform: translateX(-50%);
    }
}

._low {
    height: 55px;
}

.container {
    background-color: $font_global-white;
}

.op2022 {
    max-width: 1440px;
    max-height: 1024px;
    background-image: url('./images/main_picture.jpg');
    width: 100vw;
    height: 71.4vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    background-size: auto;
    background-position: bottom;
    overflow: hidden;
    
    
}



.op2022_title {
    margin: 0 auto;
    justify-self: end;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 3;

    .op2022__title__line1 {
        font-family: $font-family_PalaceScriptMT;
        font-size: 120px;
        color: $font_golden_font;
    }

    .op2022__title__line2 {
        font-family: $font-family_Mavel-Poster;
        color: $font_global-white;
        font-size: 80px;
    }

    .op2022__title__line3 {
        font-family: $font-family_Kurye;
        font-size: 64px;
        color: $font_global-white;
    }

    .op2022__title__button {
        font-family: $font-family_Kurye;
        font-size: 20px;
        color: $font_global-white;
        width: 153px;
        height: 57px;
        border: 1px $font_global-white solid;
        border-radius: 15px;
        margin: 0 auto;
        margin-top: 38px;
        @include box-font-padding-top(57px, 20px);
        margin-bottom: 86px;
        cursor: pointer;
        position: relative;

        div {
            position: absolute;
            top: 0;
            width: 153px;
            height: 57px;
            background-color: $font_global-white;
            border-radius: 15px;
            opacity: 0;
        }
    }

    .op2022__title__button:active {
        transform: scale(1.05);
    }

        

}

.op2022__decorAward {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .op2022__decorAward__decor {
        margin-bottom: 80px;
        margin-left: -10px;
    }

    .op2022__decorAward__award {
        margin-right: 114px;
        margin-bottom: 40px;
    }

}

.ourStory {
    @include ourStory-style-main-container(100px, 100px);

    .ourStory__text {
        @include ourStory-style-textdiv(22px, 22px, 580px, 600px);

        .ourStory__text__header {
            @include ourStory-style-header(100%);

            .ourStory__text__header_png {
                @include ourStory-style-vertDecor(22px, 22px, 113px, 93px);
            };

            .ourStory__text__header_lines {
                .ourStory__text__header_lines_line1 {
                    @include ourStory-style-header-line1(78px);
                };

                .ourStory__text__header_lines_line2 {
                    @include ourStory-style-header-line2(64px);
                };
            };
        };

        .ourStory__text__header__mainText {
            @include ourStory-style-maintext(16px, 25px, 20px, 20px, 100%);
            
            .ourStory_button {
                @include ourStory-button(140px, 57px, 20px, 15px, 15px);
            }
        
        };

        
        
        

    };

    .ourStory__pic {
        @include ourStory-style-image("images/ourstory.png", 540px, 540px, 60px, 0px);
    }

    
};

.ourStory_button:active {
    transform: scale(1.1);
}

.sandwich {
    max-width: 1440px;
    max-height: 760px;
    background-image: url('images/sandwich.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1440px, 760px;
    width: 100%;
    height: 53vw;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-end;


    .sandwich__title {
        font-family: $font-family_Kurye;
        font-size: 50px;
        color: $font_global-white;
        margin-bottom: 6.1%;
        margin-left: 7.8%;
    }

}





//at media benchmarks -------------------------------------------------------------------------
@media (min-width: 1440px) {
    .header__title {
        font-size: 30px;
    }
}

@media (max-width: 1440px) {
    .header__title {
        @include font-size-780-1440(22px, 22, 30);
    }

    .op2022 {
        width: 100vw;
        height: 71.4vw;
    }
}

.op2022__decorAward__decor {
    transform: translateY(10%);
}

@media (max-width: 1250px) {
    
    .ourStory {

        .ourStory__pic {
            @include ourStory-style-image("images/ourstory.png", 450px, 450px, 0px, 0px);
        } 

    }
    
    .op2022 {
        background-position: bottom;
    }

    .op2022__decorAward__award {
        transform: translateX(15%);
    }
}

@media (max-width: 1100px) {
    .op2022__decorAward__decor {
        transform: translateX(-30%) translateY(10%);
    }

    .op2022__decorAward__award {
        transform: translateX(30%);
    }

}

@media (max-width: 950px) {
    .header__menu {
        min-width: 50%;
    }

    .op2022__decorAward__decor {
        transform: translateX(-35%) translateY(15%);
    }

    .op2022__decorAward__award {
        display: none;
    }
    
}

@media (max-width: 850px) {
    .op2022__decorAward__decor {
        transform: translateX(-50%) translateY(15%);
    }

}


@media (max-width: 780px) {
   
    .sandwich {

        background-position: 60%;

        .sandwich__title {
            font-size: 35px;
        };
    }
    
    .ourStory {

        .ourStory__text {
            @include ourStory-style-textdiv(0px, 0px, 73vw, 600px);

            
            
    
                .ourStory__text__header {
                    @include ourStory-style-header(73vw);
        
                    .ourStory__text__header_png {
                        @include ourStory-style-vertDecor(10px, 10px, 81px, 84px);
                    };
        
                    .ourStory__text__header_lines {
                        .ourStory__text__header_lines_line1 {
                            @include ourStory-style-header-line1(59px);
                        };
        
                        .ourStory__text__header_lines_line2 {
                            @include ourStory-style-header-line2(48px);
                        };
                    };
                };
            

        };

    };
    
    .op2022__decorAward__decor {
        display: none;
    }
    
    .header__burger {
        transform: translateY(0);
    }
    
    .header__title {
        @include font-size-360-780(22px, 22, 30);
    }

    .header__menu {
        min-width: 60%;
        height: $menu_height1;
        background-color: $header_background_color;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 0;
        transform: translateY(-100%);
        flex-wrap: wrap;
        opacity: 1.0;
        
        
        
        
        li {
            width: 100%;
            height: calc($menu_height1 / 4);
            font-size: $menu_font_size;
            text-align: center;
            padding-top: calc(($menu_height1 / 8) - ($menu_font_size / 2));
            
        }

        
        
    }

    .op2022 {
        height: 178vw;
        background-size: 251vw, 179vw;
        background-position: 65%;
    }

    
}

@media (max-width: 600px) {

    .sandwich {
        background-position: 70%;
        height: 70vw;
    }

    .ourStory {

        @include ourStory-style-main-container(64px, 64px);

        .ourStory__text {
      
            .ourStory__text__header__mainText {
                @include ourStory-style-maintext(16px, 25px, 20px, 20px, 73vw);
            };

            .ourStory_button {
                @include ourStory-button(140px, 57px, 20px, 15px, 13px);
            }
      
        };
    
        .ourStory__pic {
            @include ourStory-style-image("./images/ourstory.png", 360px, 360px, auto, auto);
        }
    }
    
    .header__menu {
        min-width: 100%;
    }

    .op2022_title {
        .op2022__title__line1 {
            font-size: 110px;
        }

        .op2022__title__line2 {
            font-size: 73px;
        }

        .op2022__title__line3 {
            font-size: 58px;
        }

        .op2022__title__button {
            font-size: 18px;
            width: 124px;
            height: 46px;
            @include box-font-padding-top(46px, 16px);
            margin-bottom: 80px;
            margin-top: 9px;

            div {
            width: 124px;
            height: 46px;
            }

        }
    }

    
}

@media (max-width: 450px) {
   
    .sandwich {
        height: 75vw;
        background-size: 1000px, 526px;
    }
    
    .ourStory {
        
    
        .ourStory__text {
            
    
            .ourStory__text__header {
                @include ourStory-style-header(73vw);
    
                .ourStory__text__header_png {
                    @include ourStory-style-vertDecor(10px, 10px, 56px, 70px);
                };
    
                .ourStory__text__header_lines {
                    .ourStory__text__header_lines_line1 {
                        @include ourStory-style-header-line1(40px);
                    };
    
                    .ourStory__text__header_lines_line2 {
                        @include ourStory-style-header-line2(32px);
                    };
                };
            };
    
            .ourStory__text__header__mainText {
                
                
                .ourStory_button {
                    @include ourStory-button(101px, 37px, 16px, 8px, 6px);
                }
            
            };
    
            
            
            
    
        };
    
        
    
        
    };
    
    
    .header {
        max-height: 55px;
    }

    .header__menu {

        height: $menu_height2;

        li {
            height: calc($menu_height2 / 4);
            padding-top: calc(($menu_height2 / 8) - ($menu_font_size / 2));
        }
    }

    .op2022_title {
        .op2022__title__line1 {
            font-size: 72px;
        }

        .op2022__title__line2 {
            font-size: 48px;
        }

        .op2022__title__line3 {
            font-size: 38px;
        }

        .op2022__title__button {
            font-size: 16px;
            width: 124px;
            height: 46px;
            @include box-font-padding-top(46px, 16px);
            margin-bottom: 80px;
            margin-top: 9px;
            border-radius: 12.58px;

            div {
                width: 124px;
                height: 46px;
            }

        }
    }
    

}













