body {
    background-color: $body_background_color;
    
}
.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    min-width: 360px;
    max-width: 1440px;
    max-height: 6183px;
    min-height: 6000px;
    // background-color: $wrapper_background_color;
    position: relative;
}

.header {
    position: fixed;
    width: 100%;
    max-width: 1440px;
    min-width: 360px;
    height: 77px;
    background-color: $header_background_color;
    opacity: 0.88;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
}

.header__title {
    font-family: $font-family_Mavel-Poster;
    color: $header_title_color;
    margin-left: 8%;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $font-family_Kurye;
    color: $font_global-white;
    width: 38%;
    font-size: 20px;
    margin-right: 8%;
    

    a {
        text-decoration: none;
        color: $font_global-white
    }
}

.header__burger {
    width: 25.85px;
    height: 18.47px;
    margin-right: 5.3%;
    position: absolute;
    cursor: pointer;
    right: 0;
    transform: translateY(-500%);
    

    &:active {
        transform: scale(1.3);
    }
        
    .header_burger_container {

        #second, #third {
            transition: all 0.7s ease-in-out;
        }

        

        li {
            border-top: 1.62px $font_global-white solid;
            height: calc(1.62px + 4px);
            
            
            

        }

    }


}

.rightShift {
    animation: rightShift;
    animation-duration: 0.45s;
}

@keyframes rightShift {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 90% {
        transform: translateX(10%);
    }
    20%, 80% {
        transform: translateX(20%);
    }
    40%, 60% {
        transform: translateX(50%);
    }
}

.leftShift {
    animation: leftShift;
    animation-duration: 0.45s;
}

@keyframes leftShift {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 90% {
        transform: translateX(-10%);
    }
    20%, 80% {
        transform: translateX(-20%);
    }
    40%, 60% {
        transform: translateX(-50%);
    }
}

._low {
    height: 55px;
}

.op2022 {
    max-width: 1440px;
    max-height: 1024px;
    background-image: url('./images/main_picture.jpg');
    width: 100vw;
    height: 71.4vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
    background-size: auto;
    background-position: bottom;
    overflow: hidden;
    // position: relative;
    
}

.op2022_title {
    margin: 0 auto;
    justify-self: end;
    display: flex;
    flex-direction: column;
    text-align: center;

    .op2022__title__line1 {
        font-family: $font-family_PalaceScriptMT;
        font-size: 120px;
        color: $font_golden_font;
    }

    .op2022__title__line2 {
        font-family: $font-family_Mavel-Poster;
        color: $font_global-white;
        font-size: 80px;
    }

    .op2022__title__line3 {
        font-family: $font-family_Kurye;
        font-size: 64px;
        color: $font_global-white;
    }

    .op2022__title__button {
        font-family: $font-family_Kurye;
        font-size: 20px;
        color: $font_global-white;
        width: 153px;
        height: 57px;
        border: 1px $font_global-white solid;
        border-radius: 15px;
        margin: 0 auto;
        margin-top: 38px;
        @include box-font-padding-top(57px, 20px);
        margin-bottom: 86px;
        cursor: pointer;
    }

    .op2022__title__button:active {
        transform: scale(1.2);
    }

}

//at media benchmarks -------------------------------------------------------------------------
@media (min-width: 1440px) {
    .header__title {
        font-size: 30px;
    }
}

@media (max-width: 1440px) {
    .header__title {
        @include font-size-780-1440(22px, 22, 30);
    }

    .op2022 {
        width: 100vw;
        height: 71.4vw;
    }
}

@media (max-width: 1250px) {
    
    .op2022 {
        background-position: bottom;
    }
}

@media (max-width: 950px) {
    .header__menu {
        min-width: 50%;
    }

    // .op2022 {
    //     background-position: 40% 70%;
    // }

    
}



@media (max-width: 780px) {
    .header__burger {
        transform: translateY(0);
    }
    
    .header__title {
        @include font-size-360-780(22px, 22, 30);
    }

    .header__menu {
        min-width: 60%;
        height: $menu_height1;
        background-color: $header_background_color;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 0;
        transform: translateY(-100%);
        flex-wrap: wrap;
        opacity: 1.0;
        
        
        
        li {
            width: 100%;
            height: calc($menu_height1 / 4);
            font-size: $menu_font_size;
            text-align: center;
            padding-top: calc(($menu_height1 / 8) - ($menu_font_size / 2));
            
        }

        
        
    }

    .op2022 {
        height: 178vw;
        background-size: 251vw, 179vw;
        background-position: 65%;
    }

    
}

@media (max-width: 600px) {
    .header__menu {
        min-width: 100%;
    }

    .op2022_title {
        .op2022__title__line1 {
            font-size: 110px;
        }

        .op2022__title__line2 {
            font-size: 73px;
        }

        .op2022__title__line3 {
            font-size: 58px;
        }

        .op2022__title__button {
            font-size: 18px;
            width: 124px;
            height: 46px;
            @include box-font-padding-top(46px, 16px);
            margin-bottom: 80px;
            margin-top: 9px;
        }
    }

    
}

@media (max-width: 450px) {
    .header {
        max-height: 55px;
    }

    .header__menu {

        height: $menu_height2;

        li {
            height: calc($menu_height2 / 4);
            padding-top: calc(($menu_height2 / 8) - ($menu_font_size / 2));
        }
    }

    .op2022_title {
        .op2022__title__line1 {
            font-size: 72px;
        }

        .op2022__title__line2 {
            font-size: 48px;
        }

        .op2022__title__line3 {
            font-size: 38px;
        }

        .op2022__title__button {
            font-size: 16px;
            width: 124px;
            height: 46px;
            @include box-font-padding-top(46px, 16px);
            margin-bottom: 80px;
            margin-top: 9px;
            border-radius: 12.58px;
        }
    }
    

}













