@font-face {
    font-family: 'Fredoka-Medium';
    src: url('fonts/Fredoka-Medium.woff2') format('woff2'),
    url('fonts/Fredoka-Medium.woff') format('woff');
}

@font-face {
    font-family: 'MavelPoster-Black';
    src: url('fonts/MavelPoster-Black.svg#MavelPoster-Black') format('svg'),
         url('fonts/MavelPoster-Black.ttf') format('truetype'),
         url('fonts/MavelPoster-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'mavel-poster';
    src: url('fonts/mavel-poster.eot');
    src: url('fonts/mavel-poster.eot?#iefix') format('embedded-opentype'),
         url('fonts/mavel-poster.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'FontsFreeNetKuryeLight1';
    src: url('fonts/FontsFreeNetKuryeLight1.eot');
    src: url('fonts/FontsFreeNetKuryeLight1.eot?#iefix') format('embedded-opentype'),
         url('fonts/FontsFreeNetKuryeLight1.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Kurye-Light';
    src: url('fonts/Kurye-Light.svg#Kurye-Light') format('svg'),
         url('fonts/Kurye-Light.ttf') format('truetype'),
         url('fonts/Kurye-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Palace script';
    src: url('fonts/Palace script.eot');
    src: url('fonts/Palace script.eot?#iefix') format('embedded-opentype'),
         url('fonts/Palace script.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PalaceScriptMT';
    src: url('fonts/PalaceScriptMT.svg#PalaceScriptMT') format('svg'),
         url('fonts/PalaceScriptMT.ttf') format('truetype'),
         url('fonts/PalaceScriptMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.eot');
    src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg'),
         url('fonts/Poppins-Regular.ttf') format('truetype'),
         url('fonts/Poppins-Regular.woff') format('woff'),
         url('fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  